<div class="container">
  <div class="row gap-4">
    <div
      class="col-12 col-md-3 vstack gap-4 justify-content-center align-items-center"
    >
      <h3>About Us</h3>
      <a class="link-dark" href="#">Example@email.com</a>
      <a class="link-dark" href="#">+01234567890</a>
      <a class="link-dark" href="#">Egypt,Cairo</a>
    </div>
    <div
      class="col-12 col-md-3 vstack justify-content-center align-items-center"
    >
      <h3>Contact us</h3>
      <form
        class="formvstack d-flex vstack gap-4 justify-content-center align-items-center"
      >
        <input
          class="form-control w-50"
          type="text"
          name="name"
          value=""
          placeholder="Enter Your Name"
        />
        <input
          class="form-control w-50"
          type="email"
          name="email"
          value=""
          placeholder="Enter Your Email"
        />
        <input
          class="btn btn-primary d-inline-block w-25"
          type="submit"
          name="ptn"
          value="Submet"
        />
      </form>
    </div>
  </div>
</div>

<p class="ms-3 mt-4 alert alert-info">all copyrigthts &copy; for ITI</p>
