<div class="bg-body-secondary py-5 my-2 text-center vstack gap-5">
  <h1>Welcome to our Store</h1>
  <p class="lead">You Can find many of best products customized for you</p>
  <p class="lead custom">
    Welcome to our Ecommerce website, your one-stop destination for all your
    shopping needs!
  </p>
  <p class="lead custom">
    Our home badge proudly showcases the essence of our platform a world of
    convenience, variety, and exceptional quality. Whether you're searching for
    the latest fashion trends, cutting-edge electronics, or everyday essentials,
    you'll find it all right here.
  </p>
  <p class="lead custom">
    Explore our vast selection of products, enjoy hassle-free shopping, and
    benefit from our secure payment options and lightning-fast delivery.
  </p>
  <p class="lead custom">
    At <mark>Eslam Store</mark>, we're committed to making your online shopping
    experience unforgettable.
  </p>
  <p class="lead custom">
    Join us on this exciting journey, and let's redefine the way you shop, one
    click at a time.
  </p>
  <button (click)="forword()" class="btn btn-outline-success fs-3 mx-auto">
    Find More
  </button>
</div>
