<div class="alert alert-danger vstack gap-5">
  <h1 class="display-1 text-center text-capitalize">error not found</h1>
  <p class="text-center">
    I apologize, but it seems that the badge you are looking for on our website
    is currently unavailable. We understand the importance of providing a
    seamless and informative user experience, and we are actively working to
    resolve this issue. Please rest assured that our team is diligently
    investigating the situation to ensure that the badge is reinstated as soon
    as possible. In the meantime, if you have any questions or need assistance
    with any other aspect of our website, please do not hesitate to reach out to
    our customer support team, who will be more than happy to assist you. We
    appreciate your patience and understanding as we work to improve your
    browsing experience on our site.
  </p>
  <button
    (click)="goHome()"
    class="btn btn-secondary fs-1 w-25 mt-auto mb-3 mx-auto"
  >
    Home
  </button>
</div>
