<div class="container">
  <form class="bg-body-secondary" (submit)="Login($event)">
    <h1 class="text-center display-3 mb-4">Log In</h1>
    <div class="mb-5 row">
      <label for="username" class="form-label fs-5 col-12 col-md-3"
        >User Name</label
      >
      <input
        type="text"
        (input)="user($event)"
        maxlength="20"
        minlength="3"
        class="form-control input col-12 col-md-9"
        id="username"
      />
      <p
        [ngStyle]="{
          display: nameWarning ? 'none' : 'block',
        }"
        class="text-danger mt-1 lead"
      >
        Enter Valid User Name
      </p>
    </div>
    <div class="mb-5 row">
      <label for="password" class="form-label fs-5 col-12 col-md-3"
        >Password</label
      >
      <input
        [type]="passwordType"
        class="form-control input col-12 col-md-9"
        (input)="Pass($event)"
        id="password"
      />
      <p
        [ngStyle]="{
          display: passwordWarning ? 'none' : 'block',
        }"
        class="text-danger mt-1 lead"
      >
        Enter Correct Password
      </p>
    </div>
    <div class="mb-5 form-check">
      <input
        (click)="passwordShow($event)"
        type="checkbox"
        class="form-check-input"
        id="show"
      />
      <label class="form-check-label ms-2 fs-5" for="show">Show Password</label>
    </div>
    <div class="row">
      <button type="submit" class="btn ms-2 btn-primary fs-5">Login</button>
      <button type="button" class="btn btn-secondary fs-5 ms-3">
        Register
      </button>
    </div>
  </form>
</div>
